@tailwind base;
@tailwind components;
@font-face {
  font-family: 'Rubik';
  src: url('../public/font/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('../public/font/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/font/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'karla';
  src: url('../public/font/Karla-Regular.ttf');
}
@layer utilities {
  .heading {
    font-size: 60px;
  }
  .subheading {
    font-size: 30px;
  }
  .paragraph {
    font-size: 16px;
  }
}
@tailwind utilities;
